<div id="footer">
	<!--<p>Non dimenticatevi l'iscrizione al nostro <a href="https://www.youtube.com/channel/UClmmbesFjIzJAp8NQCtt8dQ" title="collegamento al nostro canale web esterno">canale <span xml:lang="en">youtube</span></a></p>-->
	<div id="caffe"></div>
	<p>
		<span class="first">Vuoi un contatto diretto ? </span>
		<span class="second">Vieni a berti un caff&egrave; in via Marzolo 22, Asolo </span>
		<span class="third">Telefono 0555 99 80</span>

	</p>
	<a title="collegamento alla nostra pagina feisbuc" class="external" href="https://www.facebook.com"><img src="../public_html/media/fb.png" alt="collegamento foto alla pagina facebook"></img></a>
	<a title="collegamento al nostro iutub" class="external" href="https://www.youtube.com"><img src="../public_html/media/yt.png" alt="collegamento foto alla pagina youtube"></img></a>
	<a title="collegamento alla nostra pagina tuitter" class="external" href="https://www.twitter.com"><img src="../public_html/media/tw.png" alt="collegamento foto alla pagina twitter"></img></a>
</div>
