<div id="header">
	<img title="logo della quartier 6 su 7" src="../public_html/media/youtuber.jpg" alt="il logo del gruppo Quartiere7"/>
	<div id="siteTitle">
		<h1>Quartiere 6 su 7 <span id="subtitle">... L&#96;ultimo non ce l&#96;ha fatta ... </span> </h1>
	</div>
	<div id="nav" >
		
		<ul>
			<li><a title="collegamento alla pagina di presentazione della quartier7" class='<TMPL_VAR NAME="HOME">' href="index.cgi" tabindex="1" accesskey="1">HOME</a></li>
			<li><a title="collegamento alla pagina del team della quartier7 con i suoi fondatori e ruoli di ognuno" class='<TMPL_VAR NAME="TEAM">' href="team.cgi" tabindex="2" accesskey="2">TEAM</a></li>	
			<li><a title="collegamento alla pagina di elenco delle idee accettate dai nostri amministratori" class='<TMPL_VAR NAME="IDEE">' href="idee.cgi" tabindex="3" accesskey="3">IDEE</a></li>
			<li><a title="collegamento alla pagina di invio di un'idea propria" class='<TMPL_VAR NAME="WORK">' href="workwithus.cgi" tabindex="4" accesskey="4">POSTA IDEA</a></li>	
		</ul>
	</div>
</div>
<div id="breadcumbs">
	<h2>Ti trovi in <TMPL_VAR NAME="BCUMBS"></h2>
</div>
