<div id="content">
		<div id="img"></div>
		<div id="smile"></div>
		<p class="presentazione">
			Siamo parte di un progetto bellissimo di cui siamo molto orgoliosi e quindi se anche voi condividete il nostro amore per l'arte comica allora siete nel posto giusto. Questo sito racconta il gruppo dietro a tutti quei video su youtube e cerca di coinvolgere anche voi per i prossimi video, voi che ci seguite continuamente.  
		</p>
</div>
